<form #pet="ngForm" novalidate>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" (click)="errorMessage = null" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ errorMessage }}
    </div>
    <h2>Add you pet here!</h2>
    <div class="row col-sm-6 center-block">
        <div class="form-group">
            <label for="name">Name: </label>
            <input [(ngModel)]="pet.name" name="name" id="name" placeholder="Name" type="text" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label>Type:</label>
            <select name="typeId" id="typeId" [(ngModel)]="pet.typeId" class="form-control" required="required">
                <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Breed:</label>
            <select name="breedId" id="breedId" [(ngModel)]="pet.breedId" class="form-control" required="required" [disabled]="!pet.typeId">
                <option *ngFor="let breed of breeds" [ngValue]="breed.id" [disabled]="pet.typeId !== breed.typeId">{{breed.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location">Location: </label>
            <input [(ngModel)]="pet.location" name="location" id="location" placeholder="Location" type="text" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label for="longitude">Longitude: </label>
            <input [(ngModel)]="pet.longitude" name="longitude" id="longitude" placeholder="Longitude" type="text" class="form-control" required="required"/>
        </div>
        <div class="form-group">
            <label for="latitude">Latitude: </label>
            <input [(ngModel)]="pet.latitude" name="latitude" id="latitude" placeholder="Latitude" type="text" class="form-control" required="required"/>
        </div>
        
        
        <button type="submit" (click)="save(pet.value, pet.valid)" class="btn btn-primary" role="button">Submit</button>
        <button type="button" (click)="goBack()" class="btn btn-default" role="button">Cancel</button>
    </div>
</form>